.g-contaniner {
    width: 70%;
    margin: 0 auto;
}

header nav ul ,article ul.thumbnails {
    padding-left: 0;
    list-style-type: none;
}

header > div {
    width: 100%;
    height: 400px;
}

header ul li {
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
}

article {
    padding: 20px;
}

#home header > div {
    background: url("../img/timg.jpg");
    background-size: cover;
}

#about header > div {
    background: url("../img/sao1.jpg");
    background-size: cover;
}

#photos header > div {
    background: url("../img/sao2.jpg");
    background-size: cover;
}

#games header > div {
    background: url("../img/sao4.jpg");
    background-size: cover;
}

#contact header > div {
    background: url("../img/sap3.jpg");
    background-size: cover;
}

#thanks header > div {
    background: url("../img/thanks.jpg");
    background-size: cover;
}

#slideshow {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

#preview {
    position: absolute;
}

/*about page*/

article ul.pov a {
    padding: 2px;
}

article ul.pov li {
    margin-bottom: 8px;
}

.clearfix {
    overflow: auto;
}

.character-photo {
    float: left;
    width: 20%;
}

.character-info {
    float: left;
    width: 70%;
}

section {
    display: none;
}

.thumbnails li {
    display: inline-block;
}

#placeholder {
    width: 100%;
}

td {
    padding:.5em 3em;
}

dd {
    margin: 0px;
}

.input-box {
    display: block;
    background: #fafbfc;
    width: 50%;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #d1d5da;
    margin-bottom: 15px;
}

.input-box:focus {
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075), 0 0 0 0.2em rgba(3,102,214,0.3);
}

input[type=submit] {
    border-radius: 2px;
    padding: 6px 12px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: bold;
}
